<p>multiforms works!</p>
<mat-stepper [linear]="isLinear" #stepper>
    <form [formGroup]="EmpRegister">

    
    <mat-step >
      <div formGroupName="basic">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>F Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>L Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="lastName" required>
          </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </div>
    </mat-step>
    <mat-step  label="Fill out your address">
      <div formGroupName="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</form>
  </mat-stepper>